.shimmerHome-card-container {
  max-width: 110rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

.shimmerHome-card {
  width: 35rem;
  height: 60rem;
  background-color: #f0f0f0;
  padding: 0.2rem;
  margin-top: 6rem;
}

.text-center-mobile {
  display: none;
}

@media screen and (max-width: 580px) {
  .shimmerHome-card-container {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  .shimmerHome-card {
    min-width: 26rem;
    max-width: 30rem;
    padding: 0.2rem;
    margin-left: 4rem;
    margin-top: 3rem;
  }

  .text-center-desktop {
    display: none;
  }

  .text-center-mobile {
    display: block;
  }
}

@media screen and (min-width: 581px) and (max-width: 1050px) {
  .shimmerHome-card-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
  }

  .shimmerHome-card {
    min-width: 25rem;
    max-width: 30rem;
    padding: 0.2rem;
    margin-left: 6rem;
  }
}
