.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh; /* Set the height to whatever suits your design */
}

.table {
  font-size: 2rem;
  text-align: center;
  width: 60%;
}

@media screen and (max-width: 580px) {
  .table-container {
    height: 30vh;
  }

  .table {
    font-size: 1.2rem;
    width: 90%;
  }
}
