.shimmerHome-card-container {
  max-width: 110rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

.shimmerHome-card {
  width: 35rem;
  height: 60rem;
  background-color: #f0f0f0;
  padding: 0.2rem;
  margin-top: 6rem;
  animation: shimmer 1s infinite alternate;
}

.tour-heading {
  font-size: 3rem;
}

.tour-text-center {
  font-size: 2rem;
  width: 70%;
}

.text-center-desktop {
  margin-top: 5rem;
  padding: 1rem;
  text-align: center;
}

.text-center-mobile {
  display: none;
  margin-top: 5rem;
  text-align: center;
}

.tour-section-header {
  position: relative;
  height: 45vw;
  background-color: #f0f0f0;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );
  -webkit-clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  animation: shimmer 1s infinite alternate;
}

@keyframes shimmer {
  0% {
    background-color: #e0e0e0;
  }
  100% {
    background-color: #f0f0f0;
  }
}

.tour-section-description {
  background-color: #fcfcfc;
  margin-top: calc(0px - var(--section-rotate));
  height: 45vw;
  display: flex;
}

@media screen and (max-width: 580px) {
  .shimmerHome-card-container {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  .shimmerHome-card {
    min-width: 26rem;
    max-width: 30rem;
    padding: 0.2rem;
    margin-left: 4rem;
    margin-top: 3rem;
  }

  .text-center-desktop {
    display: none;
  }

  .text-center-mobile {
    display: block;
    margin: 5rem;
  }

  .text-center {
    font-size: 1rem;
    width: 70%;
  }

  .tour-heading {
    font-size: 1.6rem;
  }

  .tour-section-header {
    position: relative;
    height: 55vw;
  }

  .tour-section-description {
    height: 55vw;
  }
}

@media screen and (min-width: 581px) and (max-width: 1050px) {
  .shimmerHome-card-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
  }

  .shimmerHome-card {
    min-width: 25rem;
    max-width: 30rem;
    padding: 0.2rem;
    margin-left: 6rem;
  }
}
